header {
    display: flex;
    padding: 1rem;
    background-color:cadetblue;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.inicio {
    color: white;
    text-decoration: none;
    padding-inline: 1rem;
}

.jumbotron {
    background-color: aliceblue;
    border-radius: 0px 0px 50px 50px;
}

.btn-secondary {
    background-color: cadetblue;
    border-color: cadetblue;
}